.secondcomponent_wrapper{
    border: solid black 1px;
    padding-bottom: 2rem;
}
.secondcomponent_everyday{
    width: 214px;
height: 32px;
margin: 0 auto;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #707484;
}
.secondcomponent_heading{
    margin: 0 auto;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 80px;
align-items: center;
text-align: center;
color: #1A1C1F;
}
.secondcomponent_description{
    margin: 0 auto;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
text-align: center;
color: #707484;
}

.secondcomponent_picturewrapper{
    border: solid green 1px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: 300px;
}

.secondcomponent_familypicture{
    border: solid 1px black;
    background: url(/src/allDesigns/family_picture.png);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
}
.secondcomponent_picturetext_wrapper{
    border: solid blue 1px;
    width: 400px;
    position: absolute;
    top: 350px;
    left: 290px;
}
.secondcomponent_picturetext_headline{
    margin: 0;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 60px;
text-align: start;
color: #FFFFFF;
}
.secondcomponent_picturetext_description{
margin: 0;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
text-align: start;
color: #FFFFFF;
}

.secondcomponent_doublecard_wrapper{
    border: solid red 1px;
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    width: 800px;
    height: 500px;
}
.secondcomponent_firstcard{
border: solid blue 1px;
    border-radius: 20px;
    background: #FFFFFF;
    width: 48%;
    height: 490px;
}
.secondcomponent_secondcard{
border: solid black 1px;
    border-radius: 20px;
    background: #26D36B;
    width: 48%;
    height: 490px;
    color: white;
}

.secondcomponent_doublecard_text{
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
display: flex;
text-align: center;
color: inherit;
}

.secondcomponent_cardsrow{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.cardrows_card{
width: 50px;
height: 50px;
border-radius: 10px;
}
.cardrows_card_picture1{
    width: 100%;
    height: 100%;
    background: url(/src/allDesigns/visa_logo1.webp);
    background-repeat: no-repeat;    
}
.cardrows_card_picture2{
    width: 100%;
    height: 100%;
    background: url(/src/allDesigns/diner_club.webp);
    background-repeat: no-repeat;
}
.cardrows_card_picture3{
    width: 100%;
    height: 100%;
    background: url(/src/allDesigns/discover_logo.webp);
    background-repeat: no-repeat;
}
.cardrows_card_picture4{
    width: 100%;
    height: 100%;
    background: url(/src/allDesigns/discover_logo.webp);
    background-repeat: no-repeat;
}

.secondcomponent_mastercard{
    height: 140px;
    width: 220px;
    margin: 50px auto 0 auto;
    background: url(/src/allDesigns/master_card.png);
    background-repeat: no-repeat;
}
.secondcomponent_userwrapper{
margin: 0 auto;
width: 300px;
height: 300px;
position: relative;
}
.secondcomponent_userlogo{
    position: absolute;
bottom: 10px;
left: 40px;
    width: 200px;
    height: 180px;
    background: url(/src/allDesigns/User_logo.png);
    background-repeat: no-repeat;
}
.secondcomponent_smalldollar{
    position: absolute;
    width: 68px;
    height: 68px;
    right: 70px;
    top: 20px;
    background: url(/src/allDesigns/Dollar.png);
    background-repeat: no-repeat;
}
.secondcomponent_bigdollar{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 90px;
    height: 90px;
    background: url(/src/allDesigns/Dollar-1.png);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 992px){

    .secondcomponent_picturetext_wrapper{
        top: 340px;
        left: 80px;
    }
    .secondcomponent_picturewrapper{
        margin: 0 auto;
        width: 90%;
        height: 280px;
    }

    .secondcomponent_picturetext_headline{
    font-size: 48px;
    line-height: 48px;
    }
    .secondcomponent_picturetext_description{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    }
    
    .secondcomponent_doublecard_wrapper{
        display: flex;
        margin: 2rem auto;
        justify-content: space-between;
        width: 90%;
    }   
    .secondcomponent_userlogo{
    bottom: 0px;
    left: 15px;
    }

    .secondcomponent_smalldollar{
        right: 125px;
        top: 30px;
    }
    .secondcomponent_bigdollar{
        right: 40px;
        top: 100px;
    }

}

@media only screen and (max-width: 650px){
    .secondcomponent_picturetext_wrapper{
        top: 330px;
        left: 80px;
        width: 320px;
    }
    .secondcomponent_picturetext_headline{
        font-size: 36px;
        line-height: 36px;
        }
        .secondcomponent_picturetext_description{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        }
    .secondcomponent_picturewrapper{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 250px;
    }
    
    .secondcomponent_doublecard_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
    }   

    .secondcomponent_firstcard{
        width: 80%;
        height: 430px;
        margin-bottom: 20px;
        }
.secondcomponent_secondcard{
        width: 80%;
        height: 430px;
        margin-bottom: 20px;
    }
    
    .secondcomponent_doublecard_text{
    font-size: 30px;
    padding: 0 35px;
    line-height: 36px;
    margin: 15px auto;
    }

}

@media only screen and (max-width: 520px){
    .secondcomponent_heading{
        font-size: 36px;
        line-height: 45px;
        }

    .secondcomponent_picturetext_wrapper{
        top: 280px;
        left: 60px;        
        width: 250px;
    }
    
    .secondcomponent_picturetext_headline{
        font-size: 25px;
        line-height: 25px;
        }
        .secondcomponent_picturetext_description{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        }
    
        .secondcomponent_picturewrapper{
        width: 90%;
        height: 230px;
    }

}
@media only screen and (max-width: 480px){
    
    .secondcomponent_picturewrapper{
        width: 90%;
        height: 200px;
    }

    .secondcomponent_picturetext_wrapper{
        top: 260px;
        left: 50px;        
        margin-left: -15px;
    }
    
    .secondcomponent_picturetext_headline{
        font-size: 30px;
        line-height: 30px;
        }
        .secondcomponent_picturetext_description{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        }

    .secondcomponent_doublecard_wrapper{
        width: 90%;
        height: 100%;
    }   

    .secondcomponent_firstcard{
        width: 100%;
        height: 430px;
        }
.secondcomponent_secondcard{
        width: 100%;
        height: 430px;
    }
    
    .secondcomponent_doublecard_text{
    padding: 0 15px;
    }

}